<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    
    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- GENERAL RULES -->
    <link rel="stylesheet" href="/Styles/general-rules.css">
    
    <!-- BOX-ICONS -->
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>

    <!-- STYLES -->
    <link rel="stylesheet" href="/Styles/error.css">
</head>
<body>  
    <div class="container-grid">
        <header>
            <h2>
                <a href="/">NAPED</a>
            </h2>
    
            <nav class="icon"> 
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </nav>
    
            <nav  id="nav">
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                
                    <li>
                        <a href="/cinema-tv" id="series">
                            Cinema e TV 
                        </a>
                    </li>
                
                    <li>
                        <a href="/curiosities" id="movies">
                            Curiosidades
                        </a>
                    </li>
                
                    <li>
                        <a href="/animes" id="animes">
                            Animes
                        </a>
                    </li>
                
                    <li>
                        <a href="/games" id="games">
                            Games
                        </a>
                    </li>
                
                    <div class="btn">
                        <a href="/login">
                            Minha conta
                        </a>
                    </div>
                </ul>
            </nav>
        </header>

        <div class="main grid">
        

            <div class="container">
                <div class="img-container">
                    <img src="/Images/error.svg" alt="Error">
                </div>
                <div class="text">
                    <p>
                        Ups! Você chegou no espaço...volte para o mundo nerd!
                    </p>
                </div>
            </div>
            
    
            <div class="text">
                <h1>
                    Tenho más notícias para você!
                </h1>
                <p>
                    A página que você está procurando pode ter sido removida ou está temporariamente indisponível.
                </p>
                <a href="/">
                    <div class="button">
                        Voltar a Home
                    </div>
                </a>
            </div>
        </div>
    </div>
   

    <script src="/JS/script.js"></script>
    </body>
</html>