<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    
        <!--JQUERY-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"
        ></script>

        <!-- BOX-ICONS -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    
        <!-- GENERAL RULES -->
        <link rel="stylesheet" href="/Styles/general-rules.css" />
    
        <!-- STYLES -->
        <link rel="stylesheet" href="/Styles/login.css" />
    </head>
    <body>
        <header>
            <h2>
              <a href="/">NAPED</a>
            </h2>
      
            <nav class="icon">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </nav>
      
            <nav id="nav">
              <ul>
                <li>
                  <a href="/"> Home </a>
                </li>
      
                <li>
                  <a href="/cinema-tv" id="series"> Cinema e TV </a>
                </li>
      
                <li>
                  <a href="/curiosities" id="movies"> Curiosidades </a>
                </li>
      
                <li>
                  <a href="/animes" id="animes"> Animes </a>
                </li>
      
                <li>
                  <a href="/games" id="games"> Games </a>
                </li>
      
                <div class="btn">
                  <a href="#"> Minha conta </a>
                </div>
              </ul>
            </nav>
        </header>

        <div class="container">
            <div class="content">
                <h2>
                    Entre com sua Conta
                </h2>
                <form action="/">
                    <label for="email" class="sr-only">Entre com o seu email</label>
                    <input type="email" name="email" id="email" placeholder="Email">

                    <label for="password" class="sr-only">Senha de acesso</label>
                    <input type="password" name="password" id="password" placeholder="Senha">

                    <input type="submit" value="Login">
                </form>
                <span>
                    Ou acesse usando
                </span>
                <div class="icon-container">
                    <div class="icon facebook">
                        <i class='bx bxl-facebook' ></i>
                    </div>
                    <div class="icon twitter">
                        <i class='bx bxl-twitter' ></i>
                    </div>
            
                    <div class="icon google">
                        <i class='bx bxl-google' ></i>
                    </div>
                </div>
                <span>
                    Não tem uma conta? <a href="criar-conta">Crie uma</a>
                </span>
            </div>
        </div>

        <footer>
            <h2>Naped</h2>
    
            <p>
              Design feito por <a href="https://www.linkedin.com/in/iuricode/" target="_blank">Iuri Code</a>. Código feito por <a href="https://www.linkedin.com/in/samuel-oliveira-de-ara%C3%BAjo-473254191/" target="_blank">Samuel Oliveira</a>
            </p>
        </footer>

        <script src="/JS/script.js"></script>
    </body>
</html>