/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input,
input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
a{
    text-decoration: none;
    color: var(--white);
}
h1,h2,h3,h4,header{
    font-family: var(--font-lexend)
}
img{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}
ul, li{
    list-style: none;
}

/* SCROLLBAR WIDTH */
::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}
.wrapper::-webkit-scrollbar {
    width: 20px;
    height: 8px;
}
  
/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--dark-gray); 
    border-radius: 10px;
}
  
  /* SCROLLBAR HANDLE */
::-webkit-scrollbar-thumb {
    background: var(--purple); 
    border-radius: 10px;
}
  
  /* SCROLLBAR HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
    background: var(--purple); 
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

.img-container:hover p, .card:hover p{
    text-decoration: underline;
}
.pages .img-container{
    cursor: auto;
}
.pages:hover p{
    text-decoration: none;
}

/* VARIABLES */
:root{
    --white: #FEFBFB;
    --gray: #C4C4C4;
    --dark-gray: #282830;
    --black: #13131F;
    --purple: #8257E6;

    --font-inter:  'Inter', sans-serif;
    --font-lexend: 'Lexend Deca', sans-serif;
}

/* GRID */
.grid{
    display: grid;
}

/* IMG-CONTAINER */
.img-container{
    position: relative;
    cursor: pointer;
} 
.img-container .text{
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%);
}
/* BUTTON */
.button{
    background-color: var(--purple);
    width: 80px;
    padding: 4px;
    text-align: center;
    border-radius: 3px;
    font-size: 0.85rem;
    font-weight: 700;
}
/* SR-ONLY */
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0,0);
    white-space: nowrap;
    border-width: 0;
}
/* HEADER AND FOOTER */
header h2 a, footer h2{
    color: var(--purple);
}

/* BODY */
body{
    background-color: var(--black);
    font-family: var(--font-inter);
    color: var(--white);
    overflow-x: hidden;
    max-width: 1150px;
    padding: 0 1rem;
    margin: 0 auto;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}
header h2{
    font-size: 1rem;
}
header #nav{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #282830de;
    z-index: 11;
    top: 0;
    left: 0;
    display: none;
}
header #nav ul{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-rows: 75px;
}
header #nav ul li{
    text-align: center;
}
header #nav ul li a{
    font-size: 2rem;
    color: var(--gray);
    transition: all .2s;
}
header #nav ul li a:hover{
    color: var(--white);
    border-bottom: 3px solid var(--purple);
}
header .btn{
    width: 150px;
    background-color: transparent;
    border: 1px solid var(--purple);
    padding: 0.8rem;
    padding-top: 0.4rem;
    height: 34px;
    border-radius: 2rem;
    font-size: 1.15rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s;
}
header .btn:hover{
    background-color: var(--purple);
}

/* linha de navegacao */
header .icon{
    width: 30px;
    height: 15px;
    position: relative;
    cursor: pointer;
    display: none;
}
header .icon .line{
    display: block;
    background-color: var(--purple);
    width: 100%;
    height: 3px;
    border-radius: 1rem;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    position: absolute;
}
header .icon .line1{
    top: 0;
}
header .icon .line2{
    top: 52%;
}
header .icon .line3{
    top: 100%;
}
header .icon.close .line1{
    background-color: var(--purple);
    z-index: 20;
    transform: rotate(45deg);
    top: 48%;
}
header .icon.close .line2{
    display: none;
}
header .icon.close .line3{
    background-color: var(--purple);
    z-index: 20;
    transform: rotate(132deg);
    top: 48%;
}


/* H2 */
.swiper h2, .recents h2{
    margin: 1rem 0;
    position: relative;
}
.swiper h2::before, .recents h2::before{
    content: "";
    width: 250px;
    height: 3px;
    color: var(--purple);
    background-color: var(--purple);
    position: absolute;
    bottom: -7px;
}


/* NO MAIN E NO WRAPPER */
.main .img-container .text,
.wrapper .img-container .text,
.recents .cards .img-container .text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* RECENTS */
.recents{
    min-width: 300px;
    max-width: 1100px;
    margin: 0 auto;
}
.recents .cards{
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
.recents h2{
    text-align: center;
}

/* nav */
.nav, ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    width: 100%;
    margin-top: 3rem;
}
.nav ul{
    max-width: 300px;
    color: var(--purple);
}
.nav ul li{
    width: 30px;
    height: 34px;
    background-color: var(--dark-gray);
    text-align: center;
    font-size: 18px;
    padding: 0.3rem;
    border: 1px solid transparent;
    transition: all .2s;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
}
.nav ul li + li{
    margin-left: 0.5rem;
}
.nav ul li:hover{
    border: 1px solid var(--purple);
}
.nav ul li i{
    position: absolute;
    font-size: 30px;
    top: 1px;
    left: 0;
}

/* FOOTER */
footer{
    text-align: center;
    margin: 95px auto 40px auto;
}
footer p{
    margin: 1rem auto;
}
footer a{
    color: var(--purple);
    transition: all .2s;
}
footer a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 699px) {
        
header #nav{
    width: 70%;
    max-width: 540px;
    height: 100%;
    position: static;
    background-color: transparent;
    z-index: 1;
    top: 0;
    left: 0;
}
header #nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header #nav ul li a{
    margin-right: 1rem;
    font-size: 0.9rem;
    color: var(--gray);
}
header .btn{
    width: 100px;
    height: 25px;
    padding: 0;
    font-size: 0.8rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

}
@media screen and (min-width: 1114px){
    .recents h2{
        text-align: left;
    }
}